@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.menu-icon,
.ringer-volume-icon {
  position: absolute;
  object-fit: cover;
}
.menu-icon {
  top: 35px;
  right: 25px;
  width: 31px;
  height: 31px;
}
.ringer-volume-icon {
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
}
.contact-me1 {
  position: absolute;
  top: 2px;
  left: 29px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.contact-me,
.services-icon {
  position: absolute;
  left: 0;
  height: 23px;
}
.contact-me {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 439px;
  width: 118px;
}
.services-icon {
  top: 0;
  width: 24px;
  object-fit: cover;
}
.expertise-portfolio {
  position: absolute;
  top: 2px;
  left: 29px;
  font-weight: 500;
}
.d-modeling,
.graphic-designing,
.linkedin-growth-scaling,
.social-media-marketing,
.web-designing {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.graphic-designing,
.linkedin-growth-scaling,
.social-media-marketing,
.web-designing {
  top: 31px;
}
.graphic-designing,
.linkedin-growth-scaling,
.social-media-marketing {
  top: 62px;
}
.linkedin-growth-scaling,
.social-media-marketing {
  top: 93px;
}
.linkedin-growth-scaling {
  top: 124px;
}
.sub-menu {
  position: absolute;
  top: 40px;
  left: 38px;
  width: 160px;
  height: 141px;
}
.about-me,
.services {
  position: absolute;
  top: 233px;
  left: 0;
  width: 198px;
  height: 181px;
}
.about-me {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 178px;
  width: 104px;
  height: 23px;
}
.srinath-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-62xl);
  width: 103px;
  height: 103px;
  object-fit: cover;
}
.my-logo-1 {
  top: 117px;
  left: 0;
  width: 139px;
  height: 29px;
  overflow: hidden;
}
.logo,
.my-logo-1,
.nav-bar {
  position: absolute;
}
.logo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
  width: 139px;
  height: 146px;
}
.nav-bar {
  top: 34px;
  left: 43px;
  width: 198px;
  height: 462px;
}
.drawer,
.nav-section {
  background-color: var(--color-white);
}
.nav-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  height: 615px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.drawer {
  position: relative;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  width: 360px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
}
.drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 960px) {
  .nav-section {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .nav-section {
    display: none;
  }
}
