@keyframes slide-in-right {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.virtual-workspace {
  font-weight: 600;
}
.hi-there-container {
  align-self: stretch;
  position: relative;
}
.love {
  font-weight: 600;
  color: #ff6df9;
}
.im-srinath-container {
  position: relative;
  font-size: 40px;
  display: inline-block;
  width: 513px;
}
.cta-child {
  position: absolute;
  width: 100%;
  top: calc(50% - 20px);
  right: 0;
  left: 0;
  border-radius: 13px;
  background-color: var(--color-aqua-200);
  border: 2px solid var(--color-aqua-100);
  box-sizing: border-box;
  height: 40px;
}
.more-about-me {
  position: absolute;
  top: calc(50% - 10px);
  left: 16.57%;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.cta {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 175px;
  height: 40px;
}
.hi-there-welcome-to-my-virtu-parent {
  position: absolute;
  width: 35.59%;
  top: 206px;
  right: 35.9%;
  left: 28.51%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.cta-item {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 17px;
  background-color: var(--color-aqua-200);
  border: 2px solid var(--color-aqua-100);
  box-sizing: border-box;
  width: 137px;
  height: 46px;
}
.lets-talk {
  position: absolute;
  top: 12px;
  right: 28px;
  font-size: 18px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.cta1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: fixed;
  top: 44px;
  right: 55px;
  width: 137px;
  height: 46px;
}
.ringer-volume-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  object-fit: cover;
}
.contact-me3 {
  position: absolute;
  top: 2px;
  left: 29px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.contact-me2,
.services-icon1 {
  position: absolute;
  left: 0;
  height: 23px;
}
.contact-me2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 486px;
  width: 118px;
}
.services-icon1 {
  top: 0;
  width: 24px;
  object-fit: cover;
}
.expertise-portfolio1 {
  position: absolute;
  top: 2px;
  left: 29px;
  font-weight: 500;
}
.d-modeling1,
.graphic-designing1,
.linkedin-growth-scaling1,
.web-designing1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.graphic-designing1,
.linkedin-growth-scaling1,
.web-designing1 {
  top: 31px;
}
.graphic-designing1,
.linkedin-growth-scaling1 {
  top: 62px;
}
.linkedin-growth-scaling1 {
  top: 93px;
}
.sub-menu1 {
  position: absolute;
  top: 40px;
  left: 38px;
  width: 160px;
  height: 110px;
}
.about-me2,
.services1 {
  position: absolute;
  top: 244px;
  left: 0;
  width: 198px;
  height: 150px;
}
.about-me2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 187px;
  width: 104px;
  height: 23px;
}
.srinath-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-455xl);
  width: 103px;
  height: 103px;
  object-fit: cover;
}
.my-logo-11 {
  top: 0;
  height: 29px;
  overflow: hidden;
}
.logo2,
.logo3,
.my-logo-11 {
  position: absolute;
  left: 0;
  width: 139px;
}
.logo3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 124px;
  height: 29px;
}
.logo2 {
  top: 0;
  height: 153px;
}
.check-project-status1 {
  position: absolute;
  top: 2px;
  left: 30px;
  font-weight: 500;
}
.nav-bar1,
.project1,
.tasks-icon1 {
  position: absolute;
  left: 0;
  height: 24px;
}
.tasks-icon1 {
  top: 0;
  width: 24px;
  object-fit: cover;
}
.nav-bar1,
.project1 {
  top: 428px;
  width: 191px;
}
.nav-bar1 {
  top: 34px;
  left: 29px;
  width: 198px;
  height: 509px;
}
.nav-section1 {
  position: fixed;
  top: 48px;
  left: 82px;
  border-radius: 30px;
  background-color: var(--color-white);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  width: 270px;
  height: 777px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.menu {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 35px;
  right: 25px;
  width: 31px;
  height: 31px;
  background-image: url(./public/menu@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;
  z-index: 9999;
}
.logo-icon,
.mob-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 152px;
  height: 33.74px;
}
.mob-logo {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 33px;
  left: 25px;
  display: none;
}
.home-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 760px;
  overflow: hidden;
  text-align: left;
  font-size: 26px;
  color: var(--color-black);
  font-family: var(--font-baloo-2);
}
@media screen and (max-width: 1200px) {
  .cta {
    display: flex;
  }
  .logo-icon,
  .menu,
  .mob-logo,
  .nav-section1 {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .cta {
    display: flex;
  }
  .cta1,
  .nav-section1 {
    display: none;
  }
  .logo-icon,
  .menu,
  .mob-logo {
    display: flex;
  }
}
@media screen and (max-width: 420px) {
  .cta {
    display: flex;
  }
  .nav-section1 {
    display: none;
  }
  .menu,
  .mob-logo {
    display: flex;
  }
}
.menu-icon,
.ringer-volume-icon {
  position: absolute;
  object-fit: cover;
}
.menu-icon {
  top: 35px;
  right: 25px;
  width: 31px;
  height: 31px;
  display: none;
}
.ringer-volume-icon {
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
}
.contact-me1 {
  position: absolute;
  top: 2px;
  left: 29px;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
}
.contact-me,
.services-icon {
  position: absolute;
  left: 0;
  height: 23px;
}
.contact-me {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 486px;
  width: 118px;
}
.services-icon {
  top: 0;
  width: 24px;
  object-fit: cover;
}
.expertise-portfolio {
  position: absolute;
  top: 2px;
  left: 29px;
  font-weight: 500;
}
.d-modeling,
.graphic-designing,
.linkedin-growth-scaling,
.web-designing {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-sm);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.graphic-designing,
.linkedin-growth-scaling,
.web-designing {
  top: 31px;
}
.graphic-designing,
.linkedin-growth-scaling {
  top: 62px;
}
.linkedin-growth-scaling {
  top: 93px;
}
.sub-menu {
  position: absolute;
  top: 40px;
  left: 38px;
  width: 160px;
  height: 110px;
}
.about-me,
.services {
  position: absolute;
  top: 244px;
  left: 0;
  width: 198px;
  height: 150px;
}
.about-me {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 187px;
  width: 104px;
  height: 23px;
}
.srinath-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-455xl);
  width: 103px;
  height: 103px;
  object-fit: cover;
}
.my-logo-1 {
  top: 0;
  height: 29px;
  overflow: hidden;
}
.logo,
.logo1,
.my-logo-1 {
  position: absolute;
  left: 0;
  width: 139px;
}
.logo1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 124px;
  height: 29px;
}
.logo {
  top: 0;
  height: 153px;
}
.check-project-status {
  position: absolute;
  top: 2px;
  left: 30px;
  font-weight: 500;
}
.nav-bar,
.project,
.tasks-icon {
  position: absolute;
  left: 0;
  height: 24px;
}
.tasks-icon {
  top: 0;
  width: 24px;
  object-fit: cover;
}
.nav-bar,
.project {
  top: 428px;
  width: 191px;
}
.nav-bar {
  top: 34px;
  left: 29px;
  width: 198px;
  height: 509px;
}
.drawer,
.nav-section {
  background-color: var(--color-white);
}
.nav-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 270px;
  height: 777px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.drawer {
  position: relative;
  width: 360px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
}
.drawer.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-right;
}
@media screen and (max-width: 1200px) {
  .nav-section {
    display: none;
  }
  .drawer {
    display: flex;
  }
}
@media screen and (max-width: 960px) {
  .drawer,
  .nav-section {
    display: flex;
  }
}
@media screen and (max-width: 420px) {
  .drawer,
  .nav-section {
    display: flex;
  }
}
