.ringer-volume-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  object-fit: cover;
}
.contact-me1 {
  position: absolute;
  top: 3px;
  left: 29px;
}
.contact-me,
.services-icon {
  position: absolute;
  top: 459px;
  left: 43px;
  width: 106px;
  height: 23px;
}
.services-icon {
  top: 0;
  left: 0;
  width: 24px;
  object-fit: cover;
}
.expertise-portfolio {
  position: absolute;
  top: 3px;
  left: 29px;
  font-size: var(--font-size-sm);
}
.d-modeling,
.web-designing {
  position: absolute;
  top: 33px;
  left: 39px;
}
.web-designing {
  top: 64px;
}
.graphic-designing,
.social-media-marketing {
  position: absolute;
  top: 95px;
  left: 39px;
}
.social-media-marketing {
  top: 126px;
}
.linkedin-growth-scaling,
.services {
  position: absolute;
  top: 157px;
  left: 39px;
}
.services {
  top: 261px;
  left: 43px;
  width: 176px;
  height: 172px;
  font-size: var(--font-size-xs);
}
.about-me,
.logo-icon {
  position: absolute;
  top: 209px;
  left: 43px;
  width: 93px;
  height: 23px;
}
.logo-icon {
  top: 34px;
  width: 139px;
  height: 146px;
}
.contact-me-parent {
  position: absolute;
  top: 48px;
  left: 82px;
  border-radius: 30px;
  background-color: var(--color-white);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
  width: 270px;
  height: 667px;
  overflow: hidden;
}
.desktop-1-child {
  position: absolute;
  top: 50px;
  left: 1270px;
  border-radius: 13px;
  background-color: rgba(0, 255, 255, 0.1);
  border: 2px solid var(--color-aqua-100);
  box-sizing: border-box;
  width: 98px;
  height: 33px;
}
.lets-talk {
  position: absolute;
  top: 58px;
  left: 1288px;
  font-weight: 600;
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 810px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
